{# empty Twig template #}
<form method="POST" action="{{ path('modifier_annonce',{id:annonce.idAnnonce}) }}">
    <h2>Modifier Annonce </h2>
    <table>
        <tr>
            <td>Nom : </td>
            <td>{{ form_widget(form.titre_annonce) }}</td>
        </tr>
        <tr>
            <td>Prenom : </td>
            <td>{{ form_widget(form.description) }} </td>
        </tr>
        <tr>
            <td>Date De Naissance : </td>
            <td>{{ form_widget(form.disponibilite) }} </td>
        </tr>
                
        <tr>
            <td>     <input type="submit" value="Modifier" name="modifier"/> </td>
            <td></td>
        </tr>
    </table>
    {{ form_rest(form) }}
</form>