{% extends "BabySitterBundle::layout.html.twig" %}
{% block qualite %}
   <form method="POST" action="{{ path('modifier_evaluation',{id:evaluations.idEvaluation}) }}">
    <h2>Modifier Evaluation </h2>
    <table>
        <tr>
            <td>BabySitter : </td>
            <td>{{ form_widget(form.iduser) }}</td>
        </tr>
        <tr>
            <td>Note : </td>
            <td>{{ form_widget(form.note) }}</td>
        </tr>
        <tr>
            <td>Date : </td>
            <td>{{ form_widget(form.date) }}</td>
        </tr>
        <tr>
            <td>Description : </td>
            <td>{{ form_widget(form.description) }} </td>
        </tr>  
        
        <tr>
            <td>     <input type="submit" value="Modifier" name="modifier"/> </td>
            <td></td>
        </tr>
    </table>
    {{ form_rest(form) }}
</form>
{% endblock %}